* {
    font-size: 20px;
}
body {
    background: black;
    color: white;
}
div {
    margin-top: 4%;
    background: black;
    color: white;
    display: block;
    border: 1px solid white;
}
input {    
    padding: 3rem 0;
    color: white;   
    background-color: black;
    width: 100%;
    margin: auto;
    display: block;
    text-decoration: none;
}
.background {
    background-image: url("wrap_bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
}